.layout {
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-content {
  background-color: white;
  padding: 24px;
  width: 100%;
  max-width: 768px;
}
