$icon-size: 32px;

.icon {
  height: $icon-size !important;
  width: $icon-size !important;
}

.action-icon {
  margin-right: 5px;
}

.action-span {
  cursor: auto;
}

.load-more {
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
