.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.header-inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1024px;
}

.menu {
  line-height: 64px;
}

.input {
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.icon {
  color: #ced4d9;
}

.title {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 36px !important;
  width: 36px !important;
}
